[submodule "odoo-argentina-ee"]
	path = odoo-argentina-ee
	url = https://github.com/ingadhoc/odoo-argentina-ee.git
	branch = 16.0
[submodule "odoo-argentina"]
	path = odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina.git
	branch = 16.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/ingadhoc/account-invoicing.git
	branch = 16.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools.git
	branch = 16.0
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/ingadhoc/account-payment.git
	branch = 16.0
